TABLE {border-collapse:collapse; border:groove; }
TR {border: 1px solid black; }
TD {border: 1px solid black; text-align:right}
TH {border: 1px solid black; }
TD.source { background-color:#eeccdd; padding:4}
TH.source { background-color:#ddbbcc; }

TR.net { border: 2px solid black; }

TD.dest { background-color:#cceeee; padding:4}
TH.dest { background-color:#bbdddd; }

TD.misc { background-color:#ddeedd; padding:4; text-align:center;}
TH.misc { background-color:#ccddcc; }

TD.num  { background-color:#ffbbbb; text-align:center;}
TH.num  { background-color:#eeaaaa; }

TD.control  { background-color:#ffffff; text-align:center;}

TABLE.channel {background-color:#ffeecc; border:groove; border-collapse:collapse; }
TR.channel { border: 1px solid black; }
TD.channel { border: 1px solid black;  text-align:center; }
TH.channel {background-color:#eeddbb;  border: 1px solid black; }
