<html>

<title>WebTV Space Race</title>
<head>

</head>
<bgsound src="http://www.woofie.com/wtv/midi/webtv/trav_wtv.mid" loop=true>
<body fontsize=medium background=images/backgrounddark.jpg valign=top  bgcolor=#1b2851  text=#eeeeee credits="credits.tmpl" noscroll vspace=0 hspace=0 marginheight=0 marginwidth=0>
	<display noscroll nosend showwhencomplete>
<CENTER>
<table width=560 border=0 cellpadding=0 cellspacing=0 cellborder=0>
	<tr>
		<td height=384 bgcolor=#1b2851 width=110 valign=top>
			<IMG width=8 height=6 src=images/spacer.gif><BR>
			<IMG width=7 height=64 src=images/spacer.gif><a href="wtv-home:/home" target=_top><IMG width=7 height=5 border=0 src=images/spacer.gif><IMG width=84 height=64 src=/ROMCache/WebTVLogoJewel.gif><IMG width=7 height=5 border=0 src=images/spacer.gif></a><BR>
	
			<CENTER>
			<IMG SRC="images/rule.gif" WIDTH=110 HEIGHT=5 BORDER=0><BR>
			<A HREF="enter.tmpl"><IMG SRC="images/spaceracelogo.gif" WIDTH=100 HEIGHT=81 BORDER=0></A><BR>
			<IMG SRC="images/rule.gif" WIDTH=110 HEIGHT=5 BORDER=0><BR>
			<A selected HREF="choose.tmpl"><IMG width=25 height=20 border=0 src=images/spacer.gif><IMG SRC="images/playbutton.gif" WIDTH=46 HEIGHT=20 BORDER=0><IMG width=27 height=20 border=0 src=images/spacer.gif></A><BR>
			<IMG SRC="images/rule.gif" WIDTH=110 HEIGHT=5 BORDER=0><BR>
			<A HREF="rules.tmpl"><IMG width=19 height=20 border=0 src=images/spacer.gif><IMG SRC="images/rulesbutton.gif" WIDTH=59 HEIGHT=20 BORDER=0><IMG width=20 height=20 border=0 src=images/spacer.gif></A><BR>
			<IMG SRC="images/rule.gif" WIDTH=110 HEIGHT=5 BORDER=0><BR>
			<IMG width=30 height=20 border=0 src=images/spacer.gif><IMG SRC="images/spacer.gif" WIDTH=40 HEIGHT=20 BORDER=0><IMG width=30 height=20 border=0 src=images/spacer.gif><BR>
			<IMG SRC="images/spacer.gif" WIDTH=110 HEIGHT=5 BORDER=0><BR>
			<IMG SRC="images/spaceship.gif" WIDTH=50 HEIGHT=145 BORDER=0>
			</CENTER>
		</td>
		<TD width=450 valign=top>
		
			<table cellpadding=0 cellspacing=0 border=0 width="100%"  valign=top>
				<tr>
					<td width=1 bgcolor=0d1428></td>
					<td height=311 width=30></td>
					<td width=380 valign=top><FONT SIZE=4 color=#cccccc><CENTER><IMG width=8 height=20 src=images/spacer.gif><BR><IMG width=8 height=40 src=images/spacer.gif><FONT SIZE=6 color=#cccccc><STRONG><shadow>Welcome, Space Traveler!</shadow></STRONG></FONT><BR>
					<IMG width=8 height=20 src=images/spacer.gif><BR></CENTER>
					<STRONG><shadow>
					Your spaceship has crash-landed.  Your mission is to rebuild your craft and blast off to safety before your oxygen runs out.<BR>
					<IMG width=1 height=40 src=images/spacer.gif>The parts of your ship have been scattered across the planet. You must collect all of the pieces in the correct sequence in order to win.<BR>
					
					</shadow></STRONG></FONT></TD>
				    <td width=41></TD>
			    </tr>
				<tr>
					<td colspan=4 bgcolor=0d1428 height=2 width=100%></td>
				</tr>
				<tr>
					<td width=1 bgcolor=1b2851></td>
					<td width=100% colspan=3 bgcolor=1b2851 height=71 align=center><INSERT AD template=insetad.tmpl width=394 height=71></td>
				</tr>
					 
			</table>

		</td>
  </tr>
		
</table>


</CENTER>
</body>
</html>
