<html>
<title>WebTV MineSweeper</title>
<bgsound src="sounds/var8.mid" LOOP=TRUE> 
<body fontsize=medium background="images/BACK.JPG" bgcolor=191919 text=#E6E6E6 hspace=0 vspace=0>

   <display noscroll>

      <table cellpadding=0 cellspacing=0 border=0 width=100% valign=top>
        <tr>
	      <td abswidth=162 absheight=384 valign=top>
			<IMG width=8 height=6 src=/ROMCache/Spacer.gif><BR>
			<IMG width=6 height=80 src=/ROMCache/Spacer.gif><a href="wtv-home:/home"><IMG width=20 height=80 src=/ROMCache/Spacer.gif><IMG width=104 height=80 src=/ROMCache/WebTVLogoJewel.gif><IMG width=28 height=80 src=/ROMCache/Spacer.gif></a>
		  <center>
  			<IMG width=6 height=111 src=/ROMCache/Spacer.gif><A HREF="index.tmpl"><IMG width=4 height=111 src=/ROMCache/Spacer.gif><IMG SRC="images/LOGO.GIF" WIDTH=137 HEIGHT=111 BORDER=0><IMG width=11 height=111 src=/ROMCache/Spacer.gif></A><BR>
  			<img src="/ROMCache/Spacer.gif" border=0 width=12 height=35><BR>
				    </center>	
			</td>
			<td abswidth=4></td>
	      	<td valign=top align=center abswidth=394 !absheight=376>
			  	<img src="/ROMCache/spacer.gif" border=0 width=5 height=15><br> 
				<IMG SRC="images/0217_ms_choosealevel.gif" WIDTH=229 HEIGHT=30 BORDER=0><br>
			<!-- 	<font size=6><b>Choose a Level</b></font> -->
			   	<img src="/ROMCache/spacer.gif" border=0 width=5 height=15><br>

				<a nocolor href="msgame.tmpl?diff=0.08&level=Private"><IMG SRC="images/0217_ms_private.gif" WIDTH=235 HEIGHT=78 BORDER=0></a><br>
			   	<img src="/ROMCache/spacer.gif" border=0 width=5 height=8><br> 
						
				<a nocolor href="msgame.tmpl?diff=0.15&level=Major"><IMG SRC="images/0217_ms_major.gif" WIDTH=238 HEIGHT=106 BORDER=0></a><br>
			   	<img src="/ROMCache/spacer.gif" border=0 width=5 height=8><br> 
						
			  	<a nocolor href="msgame.tmpl?diff=0.20&level=General"><IMG SRC="images/0217_ms_general.gif" WIDTH=236 HEIGHT=104 BORDER=0></a><br>
			   	<img src="/ROMCache/spacer.gif" border=0 width=5 height=1> 
					
			 
			</td>
			</tr>
               		      
        </table>
    </form>

</body>
</html>

