<html>
<head>
<title>WebTV WordFinder</title>
</head>
<body background=../images/back100.jpg hspace=0 vspace=0 valign=top bgcolor=#000000 text=#FFFFFF vlink=#FFFFFF link=#FFFFFF fontsize=medium>
<display noscroll>
<table width=100% border=0 cellpadding=0 cellspacing=0>
	<tr><td height=5></td><td></td></tr>
	<tr>
		<td height=110 width=140 valign=top>
			<IMG width=8 height=6 src=/ROMCache/Spacer.gif><BR>
			<IMG width=12 height=80 src=/ROMCache/Spacer.gif><a href="wtv-home:/home"><IMG width=104 height=80 src=/ROMCache/WebTVLogoJewel.gif></a>
		</td>
		<td width=420 valign=top  align=left><IMG width=8 height=6 src=/ROMCache/Spacer.gif><BR><IMG SRC="../images/LOGO.GIF" WIDTH=157 HEIGHT=81 BORDER=0></td>
  </tr>
  <tr>
    <td height=198></td>
    <td valign=top align=left><IMG SRC="../images/0223_wf_pickacategory.gif" WIDTH=330 HEIGHT=30 BORDER=0>
		
		<BR><BR>
		<table  width=100% border=0  cellpadding=0 cellspacing=0>
		 <tr>
		
		  <td valign=top width=199><font size=6><IMG align=absmiddle  SRC="../images/0209_wf_bullet.gif" WIDTH=29 HEIGHT=29 BORDER=0> <font size=5><a selected href="sportindex.tmpl">Sports</a></font></font></td>
		  <td valign=top width=200><font size=6><IMG align=absmiddle  SRC="../images/0209_wf_bullet.gif" WIDTH=29 HEIGHT=29 BORDER=0> <font size=5><a href="entertainindex.tmpl">Entertainment</a></font></font><BR><img src="/ROMCache/Spacer.gif" width=35 height=10><BR></td>
		 </tr>
		 <tr>
		
		  <td valign=top><font size=6><IMG align=absmiddle  SRC="../images/0209_wf_bullet.gif" WIDTH=29 HEIGHT=29 BORDER=0> <font size=5><a href="newsmakerindex.tmpl">Newsmakers</a></font></font></td>
		  <td valign=top><font size=6><IMG align=absmiddle  SRC="../images/0209_wf_bullet.gif" WIDTH=29 HEIGHT=29 BORDER=0> <font size=5><a href="grabbagindex.tmpl">Grab Bag</a></font></font><BR><img src="/ROMCache/Spacer.gif" width=35 height=10><BR></td>
		</tr>
		</table>
   </td>
  </tr>
    <tr>
  	<td></td>
  	<td height=71><insert ad template="insetad.tmpl" width=394 height=71></td>
	
  </tr>

</table>
</body>
</html>
