<html>
<head>
<title>WebTV Word Finder</title>
<SCRIPT Language=JavaScript>

	var entertainment = new Array(	"woofie3","Fakespeare","curious george");
					
	var sports = new Array ( "nba","QBs with big teeth","superbowl");
		 
	var news = new Array ( "lewinsky!","bill clinton gets tough","bill gates softens up");		 

	var grabbag = new Array ( "horseshoes","sewing","horse sense");
		 
	var gamecount=5;

	function PickGameAndGoTo(page) {{
		a = Math.random() * gamecount;
		a = Math.floor(a);
		URL = page + "?game=games/" + a + ".tmpl";
		alert(URL);
		window.location = URL;
	}}
	
	function PickGameFromCat(catagory) {{
		titles = eval(catagory);
		a = Math.random() * titles.length;
		a = Math.floor(a);
		game = titles[a];
		URL = "intro.tmpl?game=" + catagory + "/" + titles[a] + ".tmpl";
		alert(URL);
	}


</SCRIPT>
</head>


<body fontsize=medium bgcolor=464474 text=#FFFFFF valign=top hspace=0 vspace=0>
   <display noscroll>
      
	  <table cellpadding=0 cellspacing=0 border=0 width=100%>
	    <tr>
	      
		   <td width=166 height=384 bgcolor=53001b height=313 rowspan=2 align=center valign=top>
			<IMG width=8 height=6 src=/ROMCache/Spacer.gif><BR>
			<a href="wtv-home:/home"><IMG width=20 height=80 src=/ROMCache/Spacer.gif><IMG width=104 height=80 src=/ROMCache/WebTVLogoJewel.gif><IMG width=28 height=80 src=/ROMCache/Spacer.gif></a><BR>
		 	<IMG width=8 height=7 src=/ROMCache/Spacer.gif><BR>
  			<A HREF="index.tmpl"><IMG SRC="images/LOGO.GIF" WIDTH=150 HEIGHT=74 BORDER=0></A><BR>
  			<img src="/ROMCache/Spacer.gif" border=0 width=12 height=135><BR>

     		<A HREF="javascript:PickGameAndGoTo('intro.tmpl');"><IMG SRC="images/rules2.gif" WIDTH=142 HEIGHT=34 BORDER=0></A><BR>
			<img src="/ROMCache/Spacer.gif" border=0 width=12 height=7><BR>
			<A selected HREF="javascript:PickGameAndGoTo('play.tmpl');"><IMG SRC="images/play2.gif" WIDTH=142 HEIGHT=34 BORDER=0></A>
				    
				     	  			
	      </td>

		  <td width=9 height=313 bgcolor=464664 gradcolor=2e2c4a gradangle=90></td>       

		  <td width=385 valign=middle bgcolor=2e2c4a align=center>
		  <FONT SIZE=6>Welcome to Word Finder!</FONT>   <BR><BR><BR>    
			    Body Stick the rules here.
			</td>
			</tr>
			<tr>
			<td height=71 valign=top colspan=2 align=right>

			 <INSERT AD width=394 height=71 template=insetad.tmpl> 
			</td>
		</tr>
			      
	</table>

</body>
</html>
