<html>
<title>
  WebTV Wordfind
</title>
<bgsound src="sounds/kidstheme8.mid" LOOP=TRUE> 
<body background="BACK.JPG" bgcolor=191919 text=#E6E6E6 hspace=0>

   <display>

      <table cellpadding=0 cellspacing=0 border=0 width=100% valign=top>
            <tr>
              
	      <td abswidth=179 align=center>
                  <img src="LOGO.GIF">
              </td>

	      <td abswidth=365 rowspan=4 valign=top align=center>
		<font size=+3>How to Play</font><P>

  		<font color=#E6E6E6>	

 		<table>
		  <tr><td>&nbsp;</td></tr>
         	  <tr><td valign=top><li></td><td>Twenty seconds will be added to the wordfind clock for each correct word you find.</td></tr>
 	 	  <tr><td valign=top><li></td><td>Five seconds will be deducted from the wordfind clock each time you select "Hint."</td></tr>
		  <tr><td valign=top><li></td><td>Be careful, not all words are created equal. Some words in the puzzle are not relevant to today's theme. Selecting an incorrect word will deduct ten seconds from the wordfind clock.</td></tr>
         	  <tr><td valign=top><li></td><td>Good Luck!</td></tr>
	        </table>  
	
 		</font>

   	      </td>
			               
		    </tr>

   			<tr> <!-- LevelOn -->
              		  <td>	
			    
			  </td> 
			</tr>
			
			<tr>
			   <td>
			   
               </td>
			</tr>

		    <tr> <!-- Control Buttons -->

			  <td>
			  <font color=ffaa44>
                   
              <table border=0 width=100%>
				<tr>
				  <td colspan=2>
				    <center>
		    		    <A HREF="wf5.htm">
		       		      <IMG SRC="PLAY.GIF">
                    		    </A>
				    </center>			   
				  </td>
				</tr>
			  </table>

			
              </font>
            
			  </td>
			</tr>
			<tr>
			  <td colspan=2>
     			     <center>
		               <img src="/ROMCache/Spacer.gif" border=0 width=468 height=8>
			     </center>
			  </td>
			</tr>

			<tr>
			  <td colspan=2>
     			     <center>
 <INSERT AD WIDTH=394 HEIGHT=71>  
			     </center>
			  </td>
			</tr>
               		      
        </table>
    </form>

	<script language="Javascript">

       UpdateLevel();
   	   window.setTimeout("CallbackTimeLeft()", 5000);  

	</script>

</body>
</html>

