<html>
<head>
<title>WebTV Word Finder</title>
<SCRIPT Language=JavaScript>


</SCRIPT>
</head>


<body fontsize=medium background="images/back166.gif" bgcolor=464474 text=#FFFFFF valign=top hspace=0 vspace=0>
   <display noscroll>
      
	  <table cellpadding=0 cellspacing=0 border=0 width=100%>
	    <tr>
	      
		   <td width=166 height=384 bgcolor=53001b height=313 rowspan=2 align=center valign=top>
			<IMG width=8 height=6 src=/ROMCache/Spacer.gif><BR>
			<a href="wtv-home:/home"><IMG width=20 height=80 src=/ROMCache/Spacer.gif><IMG width=104 height=80 src=/ROMCache/WebTVLogoJewel.gif><IMG width=28 height=80 src=/ROMCache/Spacer.gif></a><BR>
		 	<IMG width=8 height=7 src=/ROMCache/Spacer.gif><BR>
  			<A HREF="index.tmpl"><IMG SRC="images/LOGO.GIF" WIDTH=150 HEIGHT=74 BORDER=0></A><BR>
  			<img src="/ROMCache/Spacer.gif" border=0 width=12 height=155><BR>

     		<A HREF="index.tmpl"><IMG SRC="images/newgame2.gif" WIDTH=142 HEIGHT=24 BORDER=0></A><BR>
			<img src="/ROMCache/Spacer.gif" border=0 width=12 height=7><BR>
			<A selected HREF="wtv-home:/home"><IMG SRC="images/quit2.gif" WIDTH=142 HEIGHT=24 BORDER=0></A>
				    
				     	  			
	      </td>

		  <td width=9 height=313 bgcolor=464664 gradcolor=2e2c4a gradangle=90></td>       

		  <td width=385 valign=middle bgcolor=2e2c4a align=center>
		  <embed src='flash/youwin.spl' width=280 height=50 loop=true>
			</td>
			</tr>
			<tr>
			<td height=71 valign=top colspan=2 align=right>
			<!-- 	<img src="images/COLON.GIF" width=374 height=71> -->
			 <insert ad sponsor=GAMES width=394 height=71 template=insetad.tmpl> 
			</td>
		</tr>
			      
	</table>

</body>
</html>
